:root {
  --dark-navy: #020c1b;
  /* bg*/
  --navy: #010101;
  /* card bg */
  --light-navy: #1f1c2d;
  /* card hover */
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  /* text */
  --slate: #ffffff;
  --light-slate: #e5ebf3;
  --lightest-slate: #fbfbfb;
  --white: #e5ebf3;
  /* highlight */
  --orange-bright: #fe5018;
  --green-tint: rgba(100, 255, 218, 0.1);
}
